%span.bckg
%header
  %h1 
    Juan C
  %nav
    %ul
      %li 
        %a{:data => {'title' => 'Projects'}} Unidad 1
      %li 
        %a{:data => {'title' => 'Team'}} Unidad 2
      %li 
        %a{:data => {'title' => 'Diary'}} UNidad 3
      %li 
        %a{:data => {'title' => 'Timeline'}} Unidad 4
      %li 
        %a{:data => {'title' => 'Settings'}} Unidad 5
      %li 
        %a{:data => {'title' => 'Search'}} Unidad 6
%main
  .title
    %h2 Projects
    %a{:href => "#", :title => "Profil"}
      Hello Bob !
  %article.larg
   